<!-- Banner -->
  <section id="banner" style="padding-top: 1.5em;">
    <div class="content">
      <header>
        <h2 style="font-size: 25pt; margin-bottom: 10px;" title="Welcome to asnocode.com!">Welcome to asnocode.com!</h2>
      </header>
      <p><span style="font-weight: 400;">DevOps is a set of protocols, practices, and tools that combine software development (Dev) and IT operations (Ops). At its core, DevOps for the enterprise emphasizes streamlining development and operations activities, enabling organizations to deliver high-quality software with speed, stability, and scalability. This optimization is implemented through key practices, such as continuous integration, delivery, and deployment.</span></p>
      <p><span style="font-weight: 400;">As a DevOps Engineer at Emergn, I leverage my 10 years of IT experience and passion for Cloud Solutions, Data Platforms, and Infrastructure as Code to deliver high-quality Software Products and Services. I have a range of technical skills comprising of Database, Network and System Administration, Cloud Technologies, DevOps Engineering, and Software Development.</span></p>
      <p><span style="font-weight: 400;">I am strongly committed to continuous learning and improvement and have a keen eye on the latest technology trends and industry best practices. I enjoy collaborating with diverse and cross-functional teams to enable, facilitate, and empower digital transformation. Please feel free to contact me if you have any questions or suggestions.</span></p>
      <ul class="actions" style="font-size: smaller;">
        <li><a href="{{ 'resume' | absolute_url  }}" class="button icon fa-file-text">Resume</a></li>
        <li><a href="{{ 'repos' | absolute_url  }}" class="button special icon fa-magic">Repos</a></li>
      </ul>
    </div>
    <span class="image object">
      <picture>
        <source data-srcset="assets/images/gmrt-group-picture.webp" type="image/webp" >
        <source data-srcset="assets/images/gmrt-group-picture.jpg" type="image/jpeg" > 
        <img src="assets/images/gmrt-group-picture-thumb.jpg" alt="asnocode.com" data-src="assets/images/gmrt-group-picture.jpg"  class="lazyload" />
      </picture>
      
    </span>
  </section>
