<!-- Banner -->
  <section id="banner" style="padding-top: 1.5em;">
    <div class="content">
      <header>
        <h2 style="font-size: 25pt; margin-bottom: 10px;" title="Welcome to asnocode.com!">Welcome to asnocode.com!</h2>
      </header>
      <p>I am Kristine Vorobjova-Grudinska, as a DevOps Engineer at Emergn, I leverage my 10 years of IT experience and passion for Cloud Solutions, Data Platforms, and Infrastructure as Code to deliver high-quality Software Products and Services. I have a range of technical skills comprising of Database, Network and System Administration, Cloud Technologies, DevOps Engineering, and Software Development.

I am strongly committed to continuous learning and improvement and have a keen eye on the latest technology trends and industry best practices. I enjoy collaborating with diverse and cross-functional teams to enable, facilitate, and empower digital transformation. Please feel free to contact me if you have any questions or suggestions.  </p>
      <ul class="actions" style="font-size: smaller;">
        <li><a href="{{ 'resume' | absolute_url  }}" class="button icon fa-file-text">Resume</a></li>
        <li><a href="{{ 'research' | absolute_url  }}" class="button special icon fa-magic">Research</a></li>
      </ul>
    </div>
    <span class="image object">
      <picture>
        <source data-srcset="assets/images/gmrt-group-picture.webp" type="image/webp" >
        <source data-srcset="assets/images/gmrt-group-picture.jpg" type="image/jpeg" > 
        <img src="assets/images/gmrt-group-picture-thumb.jpg" alt="asnocode.com" data-src="assets/images/gmrt-group-picture.jpg"  class="lazyload" />
      </picture>
      
    </span>
  </section>
